<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body>
<div class="layui-container" style="margin-top:20%">


        <form role="layui-form layui-form" th:action="@{connectBroker.action}" th:method="GET" >

            <div class="layui-form-item">
                <label class="layui-form-label">MQ Address</label>
                <div class="layui-input-line">
                    <input class=" layui-input-block layui-col-md8" type="text" name="addr" placeholder="Please input MQ address"/>
                    <input class="layui-btn" style="margin-left:20px" type="submit" value="Go" />
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/webjars/vue/2.5.16/vue.min.js"></script>
<script th:inline="javascript">

</script>
</body>
</html>